.cabeçalho {
    background-color: yellow;
    height: 14vh; 
}

.BuscarProduto {
    height: 7vh;
    text-align: center;
    text-align: 7vh;
}

.pesquisa {
    margin-top: 1vh;
    height: 2vh;
}



